<!-- Updates Box on the homepage -->
<!-- 
Note, this code chunk has been simplified substantially.
In the template, it used to draw from `_assignments`, `_events`, `_lectures`
Now, it only draws from `_annoucements`
-->


{% assign announcements = site.announcements | sort: "announcement_order" %}

{% if announcements.size > 0 %}
<div class="announcement-box" style="margin-top: 30px;">
  <h2>Updates and Annoucements</h2>
  <ul>
    {% for announcement in announcements %}
    <li class="no-p-margin">
      {{ announcement.content }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}